{% extends "index.html" %}
{% block title %} - {{ title }} program{% endblock %}
{% block content %}
    <div class="container">
        <h3 class="mt-3 mb-3">{{ title }}</h3>
        <div class="card">
            <div class="card-body pt-4 px-5 pb-0 mb-0">
                <form id="form" action="/{{ title }}" method="POST">

                    {% macro form_input(name, val, cond) -%}
                        <div class="form-group row mx-0">
                            <label for="{{ name }}" class="col-2 col-form-label font-weight-bold text-right">{{ name }}</label>
                            <input type="text" class="col-3 form-control" id="{{ name }}" name="{{ name }}" placeholder="..." value="{{ val }}" required {{ cond }}>
                            <small class="col form-text text-muted pl-2"> - {{ caller() }}</small>
                        </div>
                    {%- endmacro %}

                    <div class="row mb-3">
                        <div class="col pt-2">
                            {% call form_input('CC') %} периметры выступающего за срез сопла элемента в трех контрольных сечениях (в долях периметра поперечного сечения элемента) <span style="text-decoration: overline;">c</span><sub>c i</sub> {% endcall %}
                            {% call form_input('XC') %} расстояние до второго и третьего контрольных сечений от среза сопла ∆x<sub>c i</sub> {% endcall %}
                            {% call form_input('RC') %} радиусы внутренних поверхностей элемента в трех контрольных сечениях R<sub>c i</sub> {% endcall %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 pt-2">
                            {% call form_input('FM') %} площадь миделевого сечения хвостовой части гондолы {% endcall %}
                            {% call form_input('FK') %} площадь критического сечения сопла {% endcall %}
                            {% call form_input('FN') %} площадь (суммарная площадь двух сопл) сопла в выходном сечении {% endcall %}
                            {% call form_input('AN') %} угол наклона образующей внешней поверхности сопла в выходном сечении {% endcall %}
                            {% call form_input('GC') %} показатель адиабаты газа в реактивной струе {% endcall %}
                        </div>
                        <div class="col-6 pt-2">
                            {% call form_input('WH') %} число М внешнего невозмущенного потока {% endcall %}
                            {% call form_input('P0C') %} степень понижения давления в реактивной струе {% endcall %}
                            {% call form_input('PD0') %} донное давление в открытых зонах без реактивной струи {% endcall %}
                            {% call form_input('PDJ') %} донное давление в отрывных зонах в присутствии реактивной струи {% endcall %}
                        </div>
                    </div>
                </form>

                <!-- Start Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Результаты расчета</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body pr-5">
                                {% call form_input('DCXCS', A['DCXCS'], 'readonly') %} поправка к CX сопла на выступающие стекатели {% endcall %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->

            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-info d-inline" onclick="example()">Контрольный пример</button>
                <button type="submit" class="btn btn-secondary d-inline" form="form">Расчет</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script>
        function example() {
            var dict = {
                FM: 78.84,
                FK: 28.27,
                FN: 55.42,
                AN: -0.337,
                CC: [0.5, 0.25, 0],
                XC: [2.35, 4.7],
                RC: [3.2, 3.7, 4.2],
                GC: 1.4,
                WH: 66,
                P0C: 3,
                PD0: 0.9565,
                PDJ: 0.9127
            }
            for (key in dict) {
                if ($("input[name=" + key + "]").val() == '') {
                    $("input[name=" + key + "]").val(dict[key])
                }
            }
            for (i=0; i<11; i++) {
                $("input[name=" + 'RD' + i + "]").val(dict.RD[i])
                $("input[name=" + 'XD' + i + "]").val(dict.XD[i])
            }
            // alert($("#results").text())
        }
        if ('{{A}}'.length > 2) {
            // alert('{{A}}')
            $('#myModal').modal('show')
        }
    </script>
{% endblock %}
