{% extends "index.html" %}
{% block title %} - {{ title.capitalize() }} page{% endblock %}
{% block content %}
    <style>
        .card-header:hover {
            background: #eeeeee;
            cursor: pointer;
        }
        .card-header:active {
            background: #d0d0d0;
        }
        .card-text {
            font-size: 0.9rem;
        }
    </style>
    <div class="container">
        <h3 class="mt-2 mt-lg-5 mb-5">Комплекс подпрограмм NZLRQ1 расчета контуров и внутренних характеристик реактивных сопл ВРД.</h3>
        <div class="row" id="accordion">
            <div class="col">

                {% macro render_card(name, num) -%}
                    <div class="card mb-2">
                        <div class="btn-group btn-group-sm" role="group">
                            <h5 class="card-header w-100 border-0" data-toggle="collapse" data-target="#collapse{{ num }}">
                                {{ name }}
                            </h5>
                            <a href="{{ name }}" role="button" class="btn btn-secondary" style="padding: 0.7rem 0.5rem;">Перейти</a>
                        </div>
                        <div id="collapse{{ num }}" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p class="card-text">
                                    {{ caller() }}
                                </p>
                            </div>
                        </div>
                    </div>
                {%- endmacro %}

                <!-- First block -->
                <h5><small class="text-muted">Суживающиеся сопла</small></h5>
                {% call render_card('CQNZ1', '1') %}
                    Вычисление коэффициента расхода осесимметричных суживающихся и сверхзвуковых суживающе-расширяющихся сопл как при до-, так и при сверхкритических степенях понижения давления в сопле.
                {% endcall %}

                {% call render_card('RQSN1', '2') %}
                    Вычисление статического давления по контуру, коэффициентов расхода, импульса и тяги осесимметричных суживающихся сопл с произвольной формой образующей, в том числе когда внешнее давление в области среза отличается от атомсферного. В последнем случае коэффициенты сопла определяются как при неизменном расходе, так и при неизменном полном давлении в сопле.
                {% endcall %}
                <!-- End block -->

                <!-- Second block -->
                <h5 class="mt-5"><small class="text-muted">Суживающие-расширяющиеся сопла</small></h5>
                {% call render_card('RXLN1', '3') %}
                    Вычисление контура сверхзвукового суживающе-расширяющегося сопла типа Лаваля заданной степени расширения с минимальными потерями импульса с учетом контурных потерь, потерь в пограничном слое и задаваемых дополнительных допустимых потерь импульса на укорочение сопла относительно оптимального.
                {% endcall %}

                {% call render_card('RQCN1', '4') %}
                    Вычисление коэффициентов расхода, импульса и тяги сверхзвуковых конических сопл с прямолинейными образующими, в том числе на отрывных режимах течения в сопле.
                {% endcall %}

                {% call render_card('RQLN1', '5') %}
                    Вычисление статического давления вдоль контура, коэффициентов расхода, импульса и тяги суживающе-расширяющихся сопл типа сопла Лаваля с произвольными контурами дозвуковой и сверхзвуковой частей, в том числе при наличии отрывных зон в сопле и отличии давления в области выходного сечения от атмосферного.
                {% endcall %}

                {% call render_card('ELFK', '6') %}
                    Вычисление краевых параметров характеристики второго семейства осесимметричной волны разрежения суживающегося сопла - угла наклона вектора скорости в фокусе и расстояния точки пересечения с осью симметрии от звуковой линии, и зависимости от числа М в точке пересечения и показателя адиабаты в потоке. Звуковая линия совпадает с критическим сечением сопла.
                {% endcall %}
                <!-- End block -->
            </div>


            <div class="col">
                <!-- Third block -->
                <h5><small class="text-muted">Поправки на неравномерность течения на входе в сопло</small></h5>
                {% call render_card('RQLNVR', '7') %}
                    Расчет коэффициентов расхода, импульса и тяги сопла с неравномерными полями физических констант и заторможенных параметров течения на входе, осреднения неравномерных величин и вычисление поправки к коэффициентам сопла, отнесенных к идеальным значениям, определенным по осредненным величинам.
                {% endcall %}

                {% call render_card('RQLNSQ', '8') %}
                    Вычисление коэффициентов расхода и импульса идеального сопла с закрученным течением на входе.
                {% endcall %}
                <!-- End block -->
            </div>
        </div>
    </div>
{% endblock %}
