<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" href="{{url_for('static', filename='favicon.ico')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->

    <title>Thesis{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <div class="no-footer">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mx-4">
                            <a class="nav-link" href="index">Главная<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mx-4">
                            <a class="nav-link" href="first" data-toggle="tooltip" data-placement="bottom" title="Комплекс подпрограмм расчета контуров и внутренних характеристик реактивных сопл ВРД.">NZLRQ1</a>
                        </li>
                        <li class="nav-item mx-4">
                            <a class="nav-link" href="second" data-toggle="tooltip" data-placement="bottom" title="Комплекс подпрограмм расчета внешнего сопротивления реактивных сопл ВРД в самолетных компоновках.">NZLCX1</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 typeahead" type="search" placeholder="Search" aria-label="Search" data-provide="typeahead">
                        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                    </form>
                </div>
                <!-- <a class="navbar-brand py-0" href="index"><img src="{{url_for('static', filename='images/brand.png')}}" alt="brand"></a> -->
            </nav>

            {% block content %}
            <div class="jumbotron jumbotron-fluid" style="background-image: url({{url_for('static', filename='images/plane4.jpg')}}); background-position: center;">
                <div class="container my-5">
                    <h1 class="display-4">Thesis programs</h1>
                    <p class="lead">Комплекс подпрограмм расчета характеристик реактивных сопл ВРД.</p>
                </div>
            </div>

            <div class="card-deck mx-3">
                <div class="card">
                    <h5 class="card-header">
                        NZLRQ1
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            Комплекс подпрограмм расчета контуров и внутренних характеристик реактивных сопл ВРД.
                        </p>
                        <a href="first" class="btn btn-primary float-right">Перейти</a>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">
                        NZLCX1
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            Комплекс подпрограмм расчета внешнего сопротивления реактивных сопл ВРД в самолетных компоновках.
                        </p>
                        <a href="second" class="btn btn-primary float-right">Перейти</a>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>

        <footer class="footer mt-4 bg-light">
          <div class="container-fluid py-3">
            <div class="row text-center">
                <div class="col-lg my-auto">
                    <img class="img-fluid" src="{{url_for('static', filename='images/bmstu.png')}}" alt="brand" style="max-height: 80px;">
                </div>
                <div class="col-lg my-auto">
                    <img class="img-fluid" src="{{url_for('static', filename='images/brand2.png')}}" alt="brand" style="max-height: 50px;">
                </div>
                <div class="col-lg my-auto">
                    <span><b>Кузьмин И.C. – Э6-47</b></span><br>
                    <span>Тема: «Применение инженерных методов для расчета характеристик реактивных сопел»</span>
                </div>
            </div>
          </div>
      </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap3-typeahead.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
