{% extends "index.html" %}
{% block title %} - {{ title }} program{% endblock %}
{% block content %}
    <div class="container">
        <h3 class="mt-3 mb-3">{{ title }}</h3>
        <div class="card">
            <div class="card-body pt-4 px-5 pb-0 mb-0">
                <form id="form" action="/{{ title }}" method="POST">

                    {% macro form_input(name, val, cond) -%}
                        <div class="form-group row mx-0">
                            <label for="{{ name }}" class="col-2 col-form-label font-weight-bold text-right">{{ name }}</label>
                            <input type="text" class="col-3 form-control" id="{{ name }}" name="{{ name }}" placeholder="..." value="{{ val }}" required {{ cond }}>
                            <small class="col form-text text-muted pl-2"> - {{ caller() }}</small>
                        </div>
                    {%- endmacro %}

                    <div class="row">
                        <div class="col pt-2">
                            {% call form_input('N') %} число струек тока, в которых параметры принимаются постоянными {% endcall %}
                            {% call form_input('DF') %} массив поперечных площадей струек тока на входе ΔF<sub>фi</sub> {% endcall %}
                            {% call form_input('P0') %} массив полных давлений в струйках тора p<sub>0i</sub> {% endcall %}
                            {% call form_input('T0') %} массив температур торможения T<sub>0i</sub> {% endcall %}
                            {% call form_input('G') %} массив показателей адиабаты x<sub>i</sub> {% endcall %}
                        </div>
                        <div class="col pt-2">
                            {% call form_input('B') %} массив газовых постоянных R<sub>i</sub> {% endcall %}
                            {% call form_input('CP') %} массив удельных теплоемкостей при постоянном давлении c<sub>pi</sub> {% endcall %}
                            {% call form_input('PF') %} статическое давление на входе в сопло p<sub>ф</sub> {% endcall %}
                            {% call form_input('PH') %} атмосферное давление p<sub>∞</sub> {% endcall %}
                        </div>
                    </div>
                </form>

                <!-- Start Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Результаты расчета</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body pr-5">
                                {% call form_input('FF', A['FF'], 'readonly') %} площадь сопла на входе F<sub>ф</sub> {% endcall %}
                                {% call form_input('FK', A['FK'], 'readonly') %} площадь критического сечения сопла F<sub>*</sub> {% endcall %}
                                {% call form_input('FC', A['FC'], 'readonly') %} площадь среза сопла F<sub>с</sub> {% endcall %}
                                {% call form_input('PK', A['PK'], 'readonly') %} статическое давление в критическом сечении сопла p<sub>*</sub> {% endcall %}
                                {% call form_input('PC', A['PC'], 'readonly') %} статическое давление в выходном сечении сопла p<sub>с</sub> {% endcall %}
                                {% call form_input('QC', A['QC'], 'readonly') %} суммарный расход газа через сопло Q<sub>c</sub> {% endcall %}
                                {% call form_input('EC', A['EC'], 'readonly') %} суммарная энтальпия газа в сопле I<sub>с</sub> {% endcall %}
                                {% call form_input('YC', A['YC'], 'readonly') %} импульс потока на выходе из сопла J<sub>с</sub> {% endcall %}
                                {% call form_input('RI', A['RI'], 'readonly') %} идеальная тяга сопла P<sub>с. ид</sub> {% endcall %}
                                {% call form_input('P0S', A['P0S'], 'readonly') %} осредненное полное давление <span style="text-decoration: overline;">p</span><sub>0c</sub> {% endcall %}
                                {% call form_input('T0S', A['T0S'], 'readonly') %} осредненная температура торможения T<sub>0с</sub> {% endcall %}
                                {% call form_input('GS', A['GS'], 'readonly') %} осредненный показатель адиабаты <span style="text-decoration: overline;">x</span> {% endcall %}
                                {% call form_input('BC', A['BC'], 'readonly') %} осредненная газовая постоянная <span style="text-decoration: overline;">R</span> {% endcall %}
                                {% call form_input('CPS', A['CPS'], 'readonly') %} осредненный коэффициент теплосодержания с<sub>p</sub> {% endcall %}
                                {% call form_input('CQ', A['CQ'], 'readonly') %} коэффициент расхода сопла с осредненными параметрами µ {% endcall %}
                                {% call form_input('CY', A['CY'], 'readonly') %} коэффициент импульса осредненного потока J {% endcall %}
                                {% call form_input('CR', A['CR'], 'readonly') %} коэффициент идеальной тяги осредненного потока <span style="text-decoration: overline;">P</span><sub>с. ид</sub> {% endcall %}
                                {% call form_input('CRC', A['CRC'], 'readonly') %} коэффициент тяги сопла <span style="text-decoration: overline;">P</span><sub>с</sub> с заданной площадью F<sub>с</sub> {% endcall %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->

            </div>
            <div class="card-footer text-right">
                <!-- <button type="button" class="btn btn-info d-inline" onclick="example()">Контрольный пример</button> -->
                <button type="submit" class="btn btn-secondary d-inline" form="form">Расчет</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script>
        function example() {
            var dict = {
                K: 2,
                RD: [2.305, 2.238, 1.926, 1.610, 1.453, 1.376, 1.297, 1.225, 1.151, 1.074, 1.000],
                XD: [0, 0.640, 1.260, 1.880, 2.190, 2.340, 2.490, 2.640, 2.790, 2.940, 3.090],
                DXF: 0.0288,
                G: 1.4,
                FC: 1,
                AC: 0,
                P0C: 2.0
            }
            for (key in dict) {
                if ($("input[name=" + key + "]").val() == '') {
                    $("input[name=" + key + "]").val(dict[key])
                }
            }
            for (i=0; i<11; i++) {
                $("input[name=" + 'RD' + i + "]").val(dict.RD[i])
                $("input[name=" + 'XD' + i + "]").val(dict.XD[i])
            }
            // alert($("#results").text())
        }
        if ('{{A}}'.length > 2) {
            // alert('{{A}}')
            $('#myModal').modal('show')
        }
    </script>
{% endblock %}
